<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="login.scss">
        <title>Join Together</title>
        <%= csrf_meta_tags %>

    </head>
    <body class="container">
    <div class="col-lg-1 col-offset-6 centered">
        <img data-src="holder.js/100x100" alt="" />
    </div>
    
    <div align="center">
<h2>비밀번호 찾기</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :이메일 %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "전송" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<td>
      <img src = "/logo.jpg" width = "400" height = "400" style = "float: center;" alt = "로고"></img>
    </td>
    </div>