<div class="container mt-5">
    <style>
      @font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
* {font-family: 'GyeonggiBatang'; }
     </style>
    <h1> <center><img src="/logo2.jpg" width="80" height="80"> &nbsp Join Together</h1>
  <br />
<hr>
  <!--<h3><%= @one_post.id %>번째 글입니다.</h3>-->
    <h3><center> <%= @one_post.title %></center></h3>
  <p style="text-align:right">작성자: <%= @one_post.user.email %></p>
<br>
  
  
  <center><img style="width:600px; height:400px; margin:5px 5px 5px 5px" src="<%= @one_post.image_url %>"></center>
  <center><p> <%= @one_post.content %></p></center>
  <br />
</div>
<div class="container">
  <%if @one_post.user.email == current_user.email %>
  <a href="/update_view/<%= @one_post.id %>">수정 </a>
  <a href="/destroy/<%= @one_post.id %>">삭제</a><br>
  <a href="/show">게시판으로 돌아가기</a>
  <%else%>
  <a href="/show">게시판으로 돌아가기</a><br>
  <%end%>
</div>
<div class="container mt-5">
  <h5>댓글쓰기</h5>
  <form action="/item/<%= @one_post.id%>/comment/create" method="post">
    <input type="text" name="reply">
    <button type="submit">Submit</button>
  </form>
<div class="row mt32 mb32"></div>
    <% @comment.each do |c| %>
      <p> - <%= c.reply %> </p>
      <form action="/item/<%= @one_post.id%>/comment/destroy/<%= c.id %>" method="post">
        
        <button type="submit" >삭제</button>
        
        <!--<a href="/item/<%= @one_post.id%>/comment/destroy/<%= c.id %>" >삭제</a>-->
      </form>
    <% end %>
  <hr>
</div>
